// Experimental feature
.blog-post {
  margin-top: 4em;
}

.blog-post__body p:first-child:first-letter {
	float: left;
	color: #2a2a2a;
	font-size: 68px;
	margin-right: 12px;
	margin-top: -29px;
	margin-bottom: -36px;
	padding-left: 3px;
}
