// Experimental feature

.blog-post__body p:first-child:first-letter {
	float: left;
	color: #2a2a2a;
	font-size: 68px;
	margin-right: 12px;
	margin-top: -29px;
	margin-bottom: -36px;
	padding-left: 3px;
}

// blog-post__header
// blog-post__sidebar

div#main {
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

div#main a,div#main button,div#main input,div#main select,div#main textarea {
	outline: none
}

header#main-header div.inner-col {
	border: none
}

header#main-header h1 a {
	background-image: url(/img/atlas/stripe-logo.svg)
}

header#main-header li.more span,header#main-header li a {
	color: #6b8699;
	text-shadow: 0 1px 0 hsla(0,0%,100%,.2)
}



#main-content header {
	position: relative;
	overflow: hidden;
	height: 650px;
	background: linear-gradient(#e8eef2,#d3dde4 200px)
}

#main-content header svg {
	position: absolute;
	bottom: 0
}

#main-content header [id$=rainbow] {
	right: 0
}

#main-content #back-rainbow {
	width: 96%;
	height: 340px
}

#main-content #front-rainbow {
	width: 81%;
	height: 475px
}

#main-content header [id^=header-curve] {
	width: 100%;
	height: 110px
}

#header-curve-shadow {
	display: none
}

@supports (mix-blend-mode:overlay) {
	#header-curve-shadow {
		display: block;
		-webkit-filter: blur(10px);
		filter: blur(10px);
		mix-blend-mode: overlay;
		opacity: .8
	}
}

#atlas-logo {
	position: relative;
	width: 107px;
	height: 107px;
	margin: 106px auto 0
}

#atlas-logo span {
	position: absolute;
	background-size: 100% 100%
}




.call-to-action {
	display: flex;
	justify-content: center
}

.call-to-action div {
	position: relative
}



#main-content p.learn-more a:hover:after {
	animation: arrow-bounce 1s cubic-bezier(.4,.04,.4,1)
}

#main-content header [id$=rainbow] {
	transform: translate(100%,500px);
	animation: rainbow-slide 1.2s cubic-bezier(.2,1,.2,1) .5s forwards
}

#main-content #front-rainbow {
	animation-delay: .7s
}

@keyframes rainbow-slide {
	to {
		transform: none
	}
}

#atlas-logo span,#main-content header h1,main {
	opacity: 0;
	animation-name: fade-content;
	animation-fill-mode: forwards
}

#atlas-logo span,#main-content header h1 {
	opacity: 0;
	text-align: center;
	will-change: transform,opacity
}



#atlas-logo .glyph,#main-content header h1 {
	animation-timing-function: cubic-bezier(.2,1,.2,1);
	animation-delay: 2.1s
}

#main-content header h1 {
	transform: perspective(800px) rotateX(-60deg) translateY(50px);
	animation-duration: .85s
}

main {
	animation-duration: 1s;
	animation-delay: 2.3s;
	animation-timing-function: cubic-bezier(.6,0,.3,1)
}

@keyframes fade-content {
	to {
		opacity: 1;
		transform: none
	}
}

#main-content header .call-to-action .main-action,#main-content header .call-to-action .shadow {
	animation: fade-buttons .7s backwards;
	margin-right: 30px;
}

#main-content header .call-to-action .request-access * {
	animation-delay: 2.2s
}

#main-content header .call-to-action .learn-more * {
	animation-delay: 2.4s
}

@keyframes fade-buttons {
	0% {
		opacity: 0;
		transform: perspective(800px) rotateX(-50deg) translateY(30px)
	}
}
