// Buttons
//––––––––––––––––––––––––––––––––––––––––––––––––––
.button-group {
  display: flex;
}

.button-group--center {
  justify-content: center;
}

.button-group .button {
  margin-right: 2em;
}

.button,
button {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: $color--secondary;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: $global-radius;
  border: 1px solid palette(grey, light);
  cursor: pointer;
  box-sizing: border-box;
  transition: $transition;
}

input {
  &[type="submit"],
  &[type="reset"],
  &[type="button"] {
    display: inline-block;
    height: 38px;
    padding: 0 30px;
    color: $color--secondary;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border-radius: $global-radius;
    border: 1px solid palette(grey, light);
    cursor: pointer;
    box-sizing: border-box;
  }
}

.button:hover,
button:hover {
  color: palette(grey, dark);
  border-color: lighten(palette(grey, dark), 33.3%);
  outline: 0;
}

input {
  &[type="submit"]:hover,
  &[type="reset"]:hover,
  &[type="button"]:hover {
    color: palette(grey, dark);
    border-color: lighten(palette(grey, dark), 33.3%);
    outline: 0;
  }
}

.button:focus,
button:focus {
  color: palette(grey, dark);
  border-color: lighten(palette(grey, dark), 33.3%);
  outline: 0;
}

input {
  &[type="submit"]:focus,
  &[type="reset"]:focus,
  &[type="button"]:focus {
    color: palette(grey, dark);
    border-color: lighten(palette(grey, dark), 33.3%);
    outline: 0;
  }
}

.button.button-primary,
button.button-primary {
  color: $white;
  background-color: $color--primary;
  border-color: $color--primary;
}

input {
  &[type="submit"].button-primary,
  &[type="reset"].button-primary,
  &[type="button"].button-primary {
    color: $white;
    background-color: $color--primary;
    border-color: $color--primary;
  }
}

.button.button-primary:hover,
button.button-primary:hover {
  color: $white;
  background-color: $color--link;
  border-color: $color--link;
}

input {
  &[type="submit"].button-primary:hover,
  &[type="reset"].button-primary:hover,
  &[type="button"].button-primary:hover {
    color: $white;
    background-color: $color--link;
    border-color: $color--link;
  }
}

.button.button-primary:focus,
button.button-primary:focus {
  color: $white;
  background-color: $color--link;
  border-color: $color--link;
}

.button--shadow {
  box-shadow: $box-shadow;
}

input {
  &[type="submit"].button-primary:focus,
  &[type="reset"].button-primary:focus,
  &[type="button"].button-primary:focus {
    color: $white;
    background-color: $color--link;
    border-color: $color--link;
  }
  &[type="email"],
  &[type="number"],
  &[type="search"],
  &[type="text"],
  &[type="tel"],
  &[type="url"],
  &[type="password"] {
    height: 38px;
    padding: 6px 10px; // The 6px vertically centers text on FF, ignored by Webkit
    background-color: $white;
    border: 1px solid lighten(palette(grey, light), 8.8%);
    border-radius: $global-radius;
    box-shadow: none;
    box-sizing: border-box;
  }
}
