/* Hero block */
.hero {
	position: relative;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	height: 44em;
	background: linear-gradient(to bottom, $color--secondary 0%, $color--primary 100%);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	
	svg {
		position: absolute;
		bottom: 0;
	}
}

/* Block Modifications */
.hero--bottom-curve {
	width: 100%;
	height: 110px;
}

.hero--bottom-shadow {
	width: 100%;
	height: 110px;
	display: none;
}

@supports (mix-blend-mode:overlay) {
	.hero--bottom-shadow {
		display: block;
		-webkit-filter: blur(10px);
		filter: blur(10px);
		mix-blend-mode: overlay;
		opacity: .25;
	}
}

/* Heading Element */
.hero__heading {
	margin-top: 0;
	text-shadow: $text-shadow;
	color: $white;
	opacity: 0;
	animation-name: fade-content;
	animation-fill-mode: forwards;
	transform: perspective(800px) rotateX(-60deg) translateY(50px);
	animation-duration: .85s;
	opacity: 0;
	text-align: center;
	will-change: transform, opacity;
	animation-timing-function: cubic-bezier(.2, 1, .2, 1);
	animation-delay: 2.1s;

	strong {
		color: $black;
	}
}

@keyframes fade-content {
	to {
		opacity: 1;
		transform: none
	}
}

/* Curve element w/ rainbow color mod */
.hero__hero-curve {
	transform: translate(100%, 500px);
	@include animation('hero-slide 1.2s cubic-bezier(.2, 1, .2, 1) .5s forwards');
}

@include keyframes(hero-slide) {
	to { transform: none; }
}

.hero__hero-curve--pos0 {
	width: 96%;
	height: 340px;
	right: 0;
}

.hero__hero-curve--pos1 {
	width: 81%;
	height: 475px;
	right: 0;
	animation-delay: .7s;
}

/* Button group and button elements */

.hero__button {
	position: relative;
	@include animation('fade-buttons .7s backwards');
	animation-delay: 2.4s;
}

@include keyframes(fade-buttons) {
	0% {
		opacity: 0;
		transform: perspective(800px) rotateX(-50deg) translateY(30px);
	}
}

.hero__button:first-child {
	animation-delay: 2.2s;
}
