/* Hero block */
.hero {
	position: relative;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	height: 44em;
	background: linear-gradient(#e8eef2,#d3dde4 200px);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	
	svg {
		position: absolute;
		bottom: 0;
	}
}

/* Block Modifications */
.hero--bottom-curve {
	width: 100%;
	height: 110px;
}

.hero--bottom-shadow {
	display: none;
}

/* Heading Element */
.hero__heading {
	margin-top: 0;
	text-shadow: $text-shadow;
	color: $white;
	opacity: 0;
	animation-name: fade-content;
	animation-fill-mode: forwards;
	transform: perspective(800px) rotateX(-60deg) translateY(50px);
	animation-duration: .85s;

	strong {
		color: $black;
	}
}

/* Curve element w/ rainbow color mod */
.hero__hero-curve--rainbow {
	width: 96%;
	height: 340px;
	right: 0;
}

.hero__hero-curve--rainbow-2 {
	width: 81%;
	height: 475px;
	right: 0;
}

@supports (mix-blend-mode:overlay) {
	.hero--bottom-shadow {
		display: block;
		-webkit-filter: blur(10px);
		filter: blur(10px);
		mix-blend-mode: overlay;
		opacity: .8
	}
}
.call-to-action {
	display: flex;
	justify-content: center
}

.call-to-action div {
	position: relative
}


.hero__hero-curve--rainbow,
.hero__hero-curve--rainbow-2 {
	transform: translate(100%,500px);
	animation: rainbow-slide 1.2s cubic-bezier(.2,1,.2,1) .5s forwards;
}

.hero__hero-curve--rainbow-2 {
	animation-delay: .7s;
}

@keyframes rainbow-slide {
	to {
		transform: none
	}
}

#atlas-logo span,.hero h1 {
	opacity: 0;
	text-align: center;
	will-change: transform,opacity
}

#atlas-logo .glyph,.hero h1 {
	animation-timing-function: cubic-bezier(.2,1,.2,1);
	animation-delay: 2.1s
}

main {
	animation-duration: 1s;
	animation-delay: 2.3s;
	animation-timing-function: cubic-bezier(.6,0,.3,1)
}

@keyframes fade-content {
	to {
		opacity: 1;
		transform: none
	}
}

.hero .call-to-action .main-action,.hero .call-to-action .shadow {
	animation: fade-buttons .7s backwards;
}

.hero .call-to-action .request-access * {
	animation-delay: 2.2s
}

.hero .call-to-action .learn-more * {
	animation-delay: 2.4s
}

@keyframes fade-buttons {
	0% {
		opacity: 0;
		transform: perspective(800px) rotateX(-50deg) translateY(30px)
	}
}
