.navbar {
  z-index: $zIndex-front;
  border-bottom: 1px solid #eee;
  padding: 0 2.75em;
  box-shadow: 0 1px 5px rgba(0,0,0,0.13);
}

.navbar--fixed {
  position: fixed;
  width: 100%;
  background-color: $white;
  top: 0;
}

.navbar--static {
  border-bottom: none;
  padding: 2.25em 4.25em 1.25em;
  box-shadow: none;

  .navbar__item {
    text-align: center;
    width: 50%;

    @include mq(phablet) {
      text-align: left;
      width: initial;
    }
  }

  .container--flex {
    flex-direction: column;
  }
  .navbar__brand {
    font-size: 1.5em;
  }
  .navbar__link {
    font-size: 0.75em;
  }
}

.navbar__brand {
  font-size: 1.2em;
  font-weight: 600;
  color: palette(black, light);
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  text-decoration: none;

  &:hover {
    color: palette(black, light);
  }
}

.navbar__list {
  list-style: none;
  margin-bottom: 0;
}

.navbar__item {
  position: relative;
  float: left;
  margin-bottom: 0;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: palette(ui, base);
    -webkit-transition: $transition;
    -moz-transition:    $transition;
    -ms-transition:     $transition;
    -o-transition:      $transition;
    transition:         $transition;
    height: 5px;
    transform: scaleY(0);
    opacity: 0;
    transform-origin: center bottom;
  }

  &:hover:after {
    transform: scaleY(1);
    opacity: .75;
  }
}

.navbar__link {
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding: 2.8em 1em;
  font-size: em(11px, 15px);
  font-weight: 600;
  line-height: 6.4rem;
  color: palette(black, light);
  text-transform: uppercase;
  letter-spacing: .2rem;
  text-decoration: none;
  transition: $transition;

  &:hover {
    color: palette(black, light);
  }

  @include mq(tablet) {
    margin-left: 1em;
    margin-right: 1em;
  }

  @include mq(desktop) {
    margin-left: 2em;
    margin-right: 2em;
  }
}
