// ==========================================================================
// Reset
// ==========================================================================
@import "base/reset";

// ==========================================================================
// Utilities
// ==========================================================================
@import "utilities/index";

// ==========================================================================
// Base Styles
// ==========================================================================
@import "base/index";

// ==========================================================================
// Layout Styles
// ==========================================================================
@import "layout/index";

// ==========================================================================
// Modules
// ==========================================================================
@import "modules/index";

// ==========================================================================
// States
// ==========================================================================
@import "states/index";

// /* What The Flexbox tutorial
// */
// .box {
//   color:white;
//   font-size: 100px;
//   text-align: center;
//   text-shadow:4px 4px 0 rgba(0,0,0,0.1);
//   padding:10px;
// }

// /* Colours for each box */
// .box1 { background:#1abc9c;}
// .box2 { background:#3498db;}
// .box3 { background:#9b59b6;}
// .box4 { background:#34495e;}
// .box5 { background:#f1c40f;}
// .box6 { background:#e67e22;}
// .box7 { background:#e74c3c;}
// .box8 { background:#bdc3c7;}
// .box9 { background:#2ecc71;}
// .box10 { background:#16a085;}

// .flex-container {
//   display: flex;
//   flex-direction: column;
// }

// .box {
//   flex: 1;
//   padding: 2em 1em;
// }

// .flex-block {
//   display: flex;
//   flex-direction: row;
//   align-items: center;
//   justify-content: space-around;

//   header {
//     border-right: 2px solid white;
//     padding-right: 0.5em;
//   }

//   h5 {
//     font-size: 2rem;
//     text-align: left;
//     text-shadow: none;
//     line-height: 8rem;
//     margin-bottom: 0;
//   }

//   section {
//     width: 66.6666667%;
//   }

//   p {
//     font-size: 1.7rem;
//     text-align: left;
//     text-shadow: none;
//     margin-bottom: 0;
//   }
// }
