<div class="values">
	<nav class="navbar navbar-static">
		<div class="container-flex">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">
					az projects
					<!-- <img src="../img/logo.png" alt="Logo"> -->
				</a>
			</div>
			<ul class="navbar-list">
				<li class="navbar-item">
					<a class="navbar-link" href="/">Home</a>
				</li>
				<li class="navbar-item">
					<a class="navbar-link" href="/about-us">About Us</a>
				</li>
				<li class="navbar-item">
					<a class="navbar-link" href="/portfolio">Portfolio</a>
				</li>
				<li class="navbar-item">
					<a class="navbar-link" href="/contact">Contact</a>
				</li>
			</ul>
		</div>
	</nav>
	<div class="container section">
		<div class="row">
			<div class="eight columns offset-by-two">
				<h1 class="">Percentage of users more likely to purchase on mobile friendly site.</h1>
			</div>
		</div>
	</div>
</div>
<div class="flex-container">
	<div class="box box1">1</div>
	<div class="box box2">
		<section id="what" class="flex-block">
			<header>
				<h5>What is it about?</h5>
				</header>
			<section>
				<p>Neat is a <strong>semantic</strong> grid framework built with Sass. It is <strong>simple</strong> enough to get you up and running in minutes, and powerful enough to handle any <strong>responsive</strong> layout you can dream of.</p>
			</section>
		</section>
	</div>
	<div class="box box3">3</div>
	<div class="box box4">4</div>
	<div class="box box5">5</div>
	<div class="box box6">6</div>
	<div class="box box7">7</div>
	<div class="box box8">8</div>
	<div class="box box9">9</div>
	<div class="box box10">10</div>
</div>